* text=auto eol=lf

*.py text diff=python

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.whl binary
*.tar.gz binary

uv.lock linguist-generated
tests/**/cassettes/**/*.yaml linguist-generated
