# Every file needs a reviewer from this set.
# See https://docs.github.com/en/repositories/managing-your-repositories-settings-and-security/customizing-your-repository/about-code-owners
*                @{{ github_username }}
